form{
  padding-top:30px;
  padding-left: 20px;
  padding-right: 10px;
  background-color: white;
}

body{
  background-color:lightblue;
  padding-left:300px;
  padding-right:250px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#first_name,#num,#mail,#first_name,#last_name,#addline1,
#addline2,#city1,#state1,#postal1,#feedback1,#suggestions1,#gender1{
  font-size: 16px;
  color: red;
}

.name:after {
  content:" *";
  color: red;
}
.firstname{
  position: relative;
  top:-15px;
  line-height:30px;
  text-transform: capitalize;
  font-size: 16px;
  width: 404px;
}
.lastname{
  position: absolute;
  left:770px;
  top: 221px;
  line-height:30px;
  text-transform: capitalize;
  padding:0px;
  font-size: 16px;
  width: 440px;
}
#first_name{
	position: absolute;
	width: 139px;
  margin-right: 9px;
  margin-top: 0px;
  bottom: 146px;
  margin-bottom: 0px;
  top: 281px;
  height: 18px;
}
.firstlabel{
  position: relative;
  text-transform: capitalize;
  font-size:14px;
  top:-15px;
}
.lastlabel{
  position: absolute;
  text-transform: capitalize;
  font-size:14px;
  left:772px;
  top:256px;
}
#last_name{
	position: absolute;
	width: 139px;
  top: 280px;
  margin-bottom: 0px;
  margin-top: 0px;
  left: 775px;
}

.address{
  margin-top:80px ;
}
.address:after{
  content:" *";
  color: red;
} 
#addline1{
  position: absolute;
  top: 470px;
  margin: 0px;
}
#addline2{
  position: absolute;
  top: 560px;
  margin: 0px;
}
.city{
  position: absolute;
  padding: 0px;
  top:653px;
  width: 30px;
  bottom: 0px;
  text-transform: capitalize;
  font-size: 15px;
  left: 332px;
}
#city1{
  position: absolute;
  width: 150px;
  top: 650px;
}
.rajya{
  position: relative;
  left:425px;
  top:-35px;
  line-height:30px;
  text-transform: capitalize;
  font-size: 16px;
  width: 440px;
}
.shaher{
  position: relative;
  line-height:30px;
  text-transform: capitalize;
  font-size:14px;
  top:0px;
  width: 400px;
  margin-top: 23px;
}
.state{
  position: absolute;
  text-transform: capitalize;
  font-size:14px;
  left:757px;
  top:654px;
}
#state1{
  position: absolute;
  left: 760px;
  top: 668px;
  margin: 0px;
}
.streetadd{
  position: relative;
  font-size: 15px;
  left: 0px;
  top: -18px;
}
.streetadd2{
  position: relative;
  font-size: 15px;
  left: 0px;
  top: -18px;
}
.postal{
  position: relative;
  font-size: 15px;
  left: 0px;
  top: -18px;
}
#postal1{
  position: absolute;
  left: 330px;
  top: 745px;
}
::placeholder{
    color: gray;
}


.number{
  height: 30px;
  width: 200px;
  margin-bottom: 0;
}
.number:after {
	content:" *";
	color: red;
}
#num{
  position: absolute;
  top: 858px;
  left: 335px;
}

.email{
  height: 25px;
  margin-bottom: 5px;
  width: 73px;
}
.emaillabel{
  position: relative;
  font-size:15px;
  left:0px;
  top:-20px;
}
#mail{
  position: absolute;
  top: 963px;
}

#feedback1{
  position: absolute;
  top: 1381px;
}

#suggestions1{
  position: absolute;
  top: 1671px;
}

.check{
  width: 344px;
  margin-bottom: 30px;
  margin-top: 30px;
  height: 26px;
  font-size: larger;
  font-weight: bold;
}

.gender{
	font-size: larger;
}
.option{
	width: 150px;
	font-size: 17px;
}
#gender1{
  position: absolute;
  top: 1805px;
  margin: 0px;
}

table,th,td{
  border: 1px solid;
  border-collapse: collapse;
  border-color:lightgray;
}
table{
  margin-bottom: 45px;
  width: 98%;
  font-size: 20px;
}

p{
  font-size: 20px;
}

.legend{
  width: 350px;
  padding-left: 0;
  padding-right: 0;
}

button{
  background-color:green;
  color: aliceblue;
  text-align: center;
  border-radius: 1px;
  font-size:15px;
  padding:14px 110px;
  cursor:pointer;
}

button:hover{
  background-color: blue;
}